
<div class="card card-body mb-4">
    <form method="get" action="{{ path('app_customer_index') }}">
        <div class="row g-3">

            <div class="col-md-4">
                <input
                    type="text"
                    id="filterQuery"
                    name="q"
                    value="{{ filters.query ?? '' }}"
                    class="form-control"
                    placeholder="Введите ФИО или email"
                >
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Поиск</button>
                <a href="{{ path('app_customer_index') }}" class="btn btn-secondary">Сбросить</a>
            </div>
        </div>
    </form>
</div>
