{
	skip_install_trust
}

https://localhost {
	tls /certs/localhost.pem /certs/localhost-key.pem

	root * /app/public
	encode zstd br gzip

	log {
		output stdout
		format filter {
			request>uri query {
				replace authorization REDACTED
			}
		}
	}

	# HTTP routing
	@phpRoute {
		not path /.well-known/mercure*
		not file {path}
	}
	rewrite @phpRoute /index.php

	@frontController path /index.php
	php @frontController

	file_server {
		hide *.php
	}

	# Optional: disable browsing topics feature
	header ?Permissions-Policy "browsing-topics=()"

	# Optional: enable Vulcain
	vulcain
}

