{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Панель управления{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            Добро пожаловать в панель администратора!
        </div>
    </div>
</div>
{% endblock %}