{% extends 'base.html.twig' %}

{% block title %}Новый продукт{% endblock %}

{% block content %}
<h1>Новый продукт</h1>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <button class="btn btn-success">Создать</button>
        <a  
            href="javascript:history.back()" 
            onclick="if (history.length <= 1) { window.location.href='{{ path('app_product_index') }}'; return false; }" 
            class="btn btn-secondary"
        >
            Назад
        </a>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}