<form method="post" action="{{ path('app_orderItem_delete', {'id': orderItem.id}) }}" onsubmit="return confirm('Вы уверены, что хотите удалить эту позицию?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ orderItem.id) }}">
    <input type="hidden" name="order_id" value="{{ orderItem.order.id }}">
    <button type="submit" class="btn p-0" 
            style="background: none; border: none; color: #dc3545; font-size: 1.5rem; line-height: 1;"
        >
        <i class="bi bi-x"></i>
    </button>
</form>