{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, {
        'attr': {
            'id': 'itemForm',
            'method': 'post',
            'action': orderItem.id 
                    ? path('app_edit_item', {'id': id}) 
                    : path('app_new_item', {'id': id, 'price_template': price_template})
        }
    }) }}
        <input type="hidden" name="item_id" id="itemId">
        <div class="modal-body">
            {{ form_widget(form) }}
        </div>
        <div class="modal-footer">
            <a href="{{ app.request.headers.get('referer') ?: path('app_order_index') }}" class="btn btn-secondary">
                Назад
            </a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    {{ form_end(form) }}
{% endblock %}